# Servidor local
PORT=3001
NODE_ENV=development

# MongoDB
# Local:
MONGODB_URI=mongodb://localhost:27017/todo-api

# MongoDB Atlas:
# MONGODB_URI=mongodb+srv://USUARIO:SENHA@SEU_CLUSTER.mongodb.net/todo-api

# Autenticação
JWT_SECRET=gere_uma_chave_secreta_longa_e_aleatoria
JWT_EXPIRES_IN=24h
